* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: 'Crimson Text', serif;
    font-size: medium;
}

/* ......Styling of Navvigation bar .....*/
.change {
    background: #1e1d1d;
    color: white;
}

#theme {
    padding: 2px;
    border-radius: 10px;
}

#dark:hover {
    transition-duration: 2s;
    transform: rotate(360deg);
}

#light:hover {
    transition-duration: 2s;
    transform: rotate(360deg);

}

/* ....styling Info... */
.info {
    position: relative;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.img {
    border-radius: 50%;
    width: 150px;
    height: 150px;

}

.img:hover {
    transform: scale(1.2, 1.2);
}

.bio {
    width: 40%;
}

@media screen and (max-width:750px) {
    .info {
        height: 50vh;
    }
}

@media screen and (max-height:500px) {
    .info {
        height: 60vh;
    }
}

/* .....Styling of hobby Section..... */
.heading {
    text-align: center;
}

.hobby {
    width: 100%;
    height: 50vh;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5%;
}

.hobby1,
.hobby2,
.hobby3 {
    width: 25%;
    height: 40vh;
    border: 1px solid black;
    border-radius: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.imgs {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.imgs:hover {
    transform: scale(1.1);
}

@media screen and (max-width:800px) {

    .hobby1,
    .hobby2,
    .hobby3 {
        height: 45vh;
        width: 30%;
        align-content: center;
    }

    .hobby {
        height: 50vh;
    }

    .imgs {
        width: 110px;
        height: 130px;
    }
}

@media screen and (max-height:500px) {

    .hobby1,
    .hobby3,
    .hobby2 {
        width: 30%;
        height: 65vh;
    }

    .hobby {
        height: 65vh;
    }
}

/* styling of Project section */
.project {
    width: 100%;
    height: 50vh;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

a {
    text-decoration: none;
    color: white;
}

.project1,
.project2 {
    width: 25%;
    height: 40vh;
    border: 1px solid black;
    border-radius: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width:850px) {

    .project1,
    .project2 {
        width: 35%;
        height: 45vh;
    }
}

@media screen and (max-height:500px) {

    .project1,
    .project2 {
        width: 35%;
        height: 55vh;
    }

    .project {
        height: 65vh;
    }
}

/* styling footer section */
footer {
    width: 100%;
    height: 20vh;
    background-color: #9d9a9a;
}

.foot {
    width: 100%;
    height: 10vh;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1%;
    justify-content: center;
}

@media screen and (max-width:1000px) {

    footer {
        height: 40vh;
    }
}